<a href="https://colab.research.google.com/github/Supansapkb/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
from sklearn import datasets

iris_data = datasets.load_iris()

In [59]:
X = iris_data['data']

y = iris_data['target']

In [60]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [61]:
model = DecisionTreeClassifier()

# Define the k-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.10)

In [62]:
model = DecisionTreeClassifier(max_depth=2)

# Define the k-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.12)

In [63]:
from sklearn.model_selection import LeaveOneOut

In [64]:
model = DecisionTreeClassifier(max_depth=2)

# Define the k-fold cross validation
LOO = LeaveOneOut()

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=LOO)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.42)

In [ ]:
X

transform numpy array to dataframe

In [66]:
import pandas as pd

In [67]:
columns = iris_data['feature_names']
X_df = pd.DataFrame(X, columns=columns)

In [68]:
X_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [69]:
X_df['label']=y

In [70]:
X_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [71]:
shuffled_df = X_df.sample(frac=1,random_state=6)
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
4,5.0,3.6,1.4,0.2,0
116,6.5,3.0,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0
23,5.1,3.3,1.7,0.5,0
123,6.3,2.7,4.9,1.8,2
...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2
79,5.7,2.6,3.5,1.0,1
109,7.2,3.6,6.1,2.5,2
106,4.9,2.5,4.5,1.7,2
138,6.0,3.0,4.8,1.8,2

In [72]:
shuffled_df['fold']=15*[1,2,3,4,5,6,7,8,9,10]

In [73]:
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

# HW6 วนลูปทำ 10-fold cross validation

- search : Generate code for training decision charts and evaluate them with 10-fold cross-validation, outputting data one fold at a time.

In [102]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

# Load the iris dataset
iris = load_iris()
X = iris_data['data']
y = iris_data['target']

In [103]:
# Define the decision tree classifier with desired hyperparameters
dt = DecisionTreeClassifier(max_depth=3)

# Define the 10-fold cross-validation object
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using cross-validation
fold_num = 1
for train_index, test_index in kf.split(X):
    print(f"Fold {fold_num}:")

    # Split the data into training and testing sets for this fold
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

    # Fit the model on the training set
    dt.fit(X_train, y_train)

    # Evaluate the model on the testing set and print the results
    accuracy = dt.score(X_test, y_test)
    print(f"Accuracy: {accuracy:.3f}\n")

    fold_num += 1

Fold 1:
Accuracy: 1.000

Fold 2:
Accuracy: 1.000

Fold 3:
Accuracy: 1.000

Fold 4:
Accuracy: 0.933

Fold 5:
Accuracy: 0.933

Fold 6:
Accuracy: 0.867

Fold 7:
Accuracy: 0.867

Fold 8:
Accuracy: 0.933

Fold 9:
Accuracy: 1.000

Fold 10:
Accuracy: 0.933